/* GLOBAL STYLES */
body {
  background: #000000;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 65px;
}

.typewriter h1 {
  color: #fff;
  font-family: aboreto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  text-align: center;
  line-height: 200px;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}